body {
  background-color: #6df4f4;
}



#container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);s
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
}
div {
  border: 1px solid black;
}
button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #ff7af6;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
  box-shadow: 1px 1px 1px 1px gray

}
button:hover {
  color: white;
  background: #0000ff;
}

h1 {
  font-size: 100px;
  font-family: 'Sedgwick Ave Display', cursive;
}
